.previewTitle {
  font-size: 1.5em;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
}


.project {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}

.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.imageWrapper {
  height: 300px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.projectContent {
  padding: 10px 20px 20px 20px;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.projectContent h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Montserrat", "Avenir", Tahoma, Arial, Helvetica, sans-serif;
}

.projectContent > p:first-of-type {
  display: flex;
  flex: 1;
}

@media(min-width: 768px) {
  .project {
    width: calc(50% - 10px);
  }
}

@media(min-width: 991px) {
  .project {
    width: calc(100% / 3 - 10px);
  }
}

.linkContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.linkContainer a,
.linkContainer div {
  /* width: 50px; */
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}



.linkContainer .android:hover {
  color: #a4c639;
}

.linkContainer .appStore:hover {
  background-color: #007AFF;
  color: #F0F0F0;
}

.linkContainer .gitHub:hover {
  background-color: #1a1a1a;
  color: #fff;
}



.linkContainerHeader {
  margin: 0;
  margin-bottom: 10px;
}

.linkIcon {
  font-size: 48px;
}



.disabledLink {
  position: relative;
}

.disabledOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
}




/* Tooltip container */
.disabledLink {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.disabledLink .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.disabledLink:hover .tooltiptext {
  visibility: visible;

  width: 120px;
  bottom: calc(100% + 10px);
  left: 50%;
  margin-left: -60px;
}

.disabledLink .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


.chromeIcon {
  position: relative;
  z-index: 4;
}

.chromeIcon:hover {
  color: transparent;
  width :46.5px;
  height:46.5px;
  border-radius:50%;
  overflow:hidden;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(-20deg, transparent 50%, #f5c90e 50%, #e4b11b),
    linear-gradient(120deg, transparent 50%, #fcd209 50%),
    linear-gradient(101deg, transparent 50%, #49b147 50%, #3f9c43),
    linear-gradient(180deg, #e12c2d 28%, #fcd209 28%),
    linear-gradient(60deg, #4cb648 35%, transparent 35%),
    linear-gradient(42deg, #c3181c, #df2227 50%, transparent 50%),
    linear-gradient(60deg, #e12c2d, #e12c2d 100%),
    linear-gradient(60deg, #4db849, #4db849 100%);
  background-size: 50% 17%, 21% 35%, 31% 48%, 49.5% 100%, 50.5% 57%, 30% 44%, 51% 55%, 51% 45%;
  background-position: 100% 33.5%, 58% 100%, 50% 100%, 100% 0%, 0 0, 10% 20%, 0 0, 0 100%;
}

.chromeIcon:hover:after, .chromeIcon:hover:before {
  content: '';
  height: 45%;
  width: 45%;
  left: 27.5%;
  top: 27.5%;
  border-radius: 50%;
  background: white;
  box-shadow: 0 -5px 50px 0 rgba(0,0,0,0.2);
  position: absolute;
}

.chromeIcon:hover:before {
  z-index: 2;
  top: 31%;
  left: 31%;
  height: 38%;
  width: 38%;
  background: #4788c7;
  box-shadow: inset 0 -20px 30px 0 rgba(0,0,0,0.2);
}