.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
  width: 100vw;
}

.heroImage {
  height: 100vh;
}

.heroImage img,
.heroImage picture img {
  object-position: right bottom !important;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
