.navContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #1a1a1a;
  min-height: 60px;

  transition: all 0.75s ease;
}

.navTop {
  background-color: transparent !important;
}

.navTop .navTitle {
  margin: 0;
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
  font-size: 1.25em;

  display: none;
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}


.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0.5em 1em;
}

.navigationItem:first-of-type {
  margin-top: 0;
}

@media only screen and (min-width: 991px) {
  .navigationItem {
    margin: 0 1em;
  }
}

.navigationItem a {
  color: #fafafa;
  text-decoration: none;
}

.navigationItem a:hover {
  color: #fafafa;
  text-decoration: underline;
}


.mobileNavigation {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .8s, padding .8s; /* Safari prior 6.1 */
  transition: max-height .8s ease, padding .8s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .mobileNavigation,
  .navIcon {
    display: none;
  }
}

.menuOpen {
  max-height: 35vh;
  padding: 20px 0;
}



.mobileContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 60px;
}

.navTitle {
  margin: 0;
  color: #fafafa;
}

@media only screen and (min-width: 768px) {
  .mobileContainer {
    display: none;
  }
}

/* Icon 1 */
.navIcon {
  background: transparent;
  border: none;
  width: 30px;
  position: absolute;
  top: 20px;
  left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  padding: 3px;
  outline: none;
}

.navIcon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fafafa;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


/* Icon 3 */

.navIcon span:nth-child(1) {
  top: 0px;
}

.navIcon span:nth-child(2) {
  height: 0;
}

.navIcon span:nth-child(2),.navIcon span:nth-child(3) {
  top: 8px;
}

.navIcon span:nth-child(4) {
  top: 16px;
}

.navIconOpen span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.navIconOpen span:nth-child(2) {
  height: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navIconOpen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navIconOpen span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
