.aboutContainer {
    align-items: center;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
  }

  .aboutTextContainer {
    padding: 0 20px;
    width: 85%;
  }

  .aboutHeadline {
    color: #1a1a1a;
    font-size: 1.75em;
    text-align: center;
  }

  .aboutText {
    color: #1a1a1a;
    font-size: 1.25em;
    text-align: center;
  }

  @media(min-width: 768px) {
    .aboutText {
      font-size: 1.5em;
    }
  }
