.contactContainer {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #1a1a1a;
  color: #fafafa;
  position: relative;

  /* background: url('https://wallpaperplay.com/walls/full/3/9/4/186750.jpg'); */
}

.contactContainer .wrapper {
  position: relative;
  z-index: 10;
}

.formWrapper .socialWrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-top: 30px;
}


.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90%;
  padding: 20px;
  padding-top: 30px;
  background-color: rgba(250, 250, 250, 0.25);
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}

@media(min-width: 991px) {
  .formWrapper {
    /* align-items: flex-start; */
  }

  .form {
    width: 40%;
  }
}


.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px
  /* justify-content: center; */
  /* align-items: center; */
}

.field input,
.field textarea {
  margin: 5px 0;
  padding: 6px;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px;
  background: #fafafa;
  border: none;
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions > li {
  list-style: none;
  margin: 10px;
}






@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:3;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}