/* .hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;

  position: relative;
  height: 60vh;
}

@media(min-width: 991px) {
  .hero {
    height: 80vh;
  }
}

.heroImage {
  
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
 
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  font-size: 14px;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;

  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroHeadline,
.heroDetails {
  color: #7510F7;
}

@media(min-width: 768px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 991px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

@media(min-width: 600px) {
  .heroHeadline {
    font-size: 32px;
  }
}

@media(min-width: 991px) {
  .heroHeadline {
    font-size: 40px;
  }
}

.heroTitle {
  margin: 0;
  font-weight: bold;
}
 */


 .hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  /* height: 61.8vh;
  max-height: 400px; */

  height: 85vh;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  /* left: 50%; */
  /* bottom: 0; */
  /* bottom: 35%; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, 0); */
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
